
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 1em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
}
.fruit {
  background-color: #A4D279;
}
img {
  width: 50%;
}